@import "tailwindcss";

@theme {
    --color-primary: #0f172a;
    --color-accent: #0ea5e9;
    --color-background: #0f172a;
    --color-text: #f8fafc;
}

:root {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Inter', sans-serif;
    /* Setup in Layout or Head if needed, or rely on system fonts */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}